@import "tailwindcss";

@theme inline {
  --font-primary: var(--font-dm-sans);
  --font-secondary: var(--font-space-grotesk);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-card: var(--card);
  --color-border: var(--border);
}

:root {
  --background: oklch(0.1684 0 0);
  --foreground: oklch(0.9821 0 0);
  --primary: oklch(0.8606 0.1731 91.94);
  --card: oklch(0.2178 0 0);
  --muted: oklch(0.7668 0 0);
  --border: oklch(0.3211 0 0);
  --accent: oklch(0.6792 0.2128 36.53);
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }

  a {
    @apply font-primary;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-secondary;
  }
}

.markdown {
  h1 + h2,
  h1 + p + h2,
  h1,
  h2,
  h3,
  h4,
  pre {
    margin-top: 2rem;
  }

  pre {
    margin-bottom: 2rem;
  }

  h2 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary);
  }

  h3,
  h4 {
    margin-bottom: 0.5rem;
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--accent);

    &::before {
      content: "— ";
    }
  }

  p {
    line-height: 1.5;
    color: var(--foreground);
    letter-spacing: 1;
  }

  p + p,
  ul + p,
  div + p,
  p + ul {
    margin-top: 1.5rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    color: var(--muted);
  }

  ul:has(a) {
    flex-direction: row;
    gap: 1rem;
  }

  ul:has(a) li {
    margin: 1rem 0;
    &::before {
      content: none;
    }

    a {
      padding: 0.5rem 1rem;
      color: var(--foreground);
      border: 1px solid var(--border);
      border-radius: 0.5rem;
      transition: colors 0.3s ease;

      &:hover {
        color: var(--primary);
        border-color: var(--primary);
      }
    }
  }

  li {
    &::before {
      content: "— ";
    }
  }
}
